{% extends 'base.html.twig' %}

{% block title %}Edition du profil{% endblock %}

{% block body %}
    <div>
        <h1 align="center">Edition du profil</h1>
            <div class="formEdition">
                {{ form_start(edit_form) }}
                    <table class="tableFieldset">
                        <tr><td>{{ form_widget(edit_form.email) }}</td></tr>

                        <tr><td>{{ form_widget(edit_form.password) }}</td></tr>

                        <tr><td>{{ form_label(edit_form.telephone, "Téléphone") }}</td></tr>
                        <tr><td>{{ form_widget(edit_form.telephone) }}</td></tr>

                        <tr><td>{{ form_label(edit_form.adresse, "Adresse") }}</td></tr>
                        <tr><td>{{ form_widget(edit_form.adresse) }}</td></tr>

                        <tr><td>{{ form_label(edit_form.ville, "Ville") }}</td></tr>
                        <tr><td>{{ form_widget(edit_form.ville) }}</td></tr>

                        <tr><td>{{ form_label(edit_form.region, "Région") }}</td></tr>
                        <tr><td>{{ form_widget(edit_form.region) }}</td></tr>

                        <tr><td>{{ form_label(edit_form.pays, "Pays") }}</td></tr>
                        <tr><td>{{ form_widget(edit_form.pays) }}</td></tr>

                        <tr><td>{{ form_label(edit_form.role, "Rôle") }}</td></tr>
                        <tr><td>{{ form_widget(edit_form.role) }}</td></tr>
                    
                        <tr align="center"><td><input type="submit" class="btn btn-primary" value="Editer" /></td></tr>
                        {{ form_end(edit_form) }}
                        {{ form_start(delete_form) }}
                        <tr align="center"><td><input type="submit" class="btn btn-primary" value="Supprimer mon compte" /></td></tr>
                        {{ form_end(delete_form) }}
                    </table>
            </div>
        </div>
        
{% endblock %}
