<div class="col-sm-3" id="rightSidebar">
    <div class="list-group">
        <div class="list-group-item">
            <p align="center">Evenements à venir</p align="center">
        {% for agenda in agendas %}
                <a class="list-group-item" href="{{ path('agenda_show', { 'id': agenda.id }) }}">{{ agenda.title }}<br/>{{ agenda.startingDate|date('Y-m-d') }}</a>                
        {% endfor %}

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('agenda_new') }}">Ajouter un évènement</a></br>
            <a href="{{ path('agenda_index') }}">Voir tout les évènements</a>
        {% endif %}
    </div>
    <div class="list-group">
        <div class="list-group-item">
            FORMULAIRE NEWSLETTER
        </div>
        <a href="#" class="list-group-item">FACEBOOKLink</a>
        <a href="#" class="list-group-item">TWITTERLink</a>
        {% if app.user %}
            <a href="{{ path('articles_new') }}" class="list-group-item">Proposer un article</a>
        {% endif %}
    </div>
</div>
