<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<html lang='fr'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

        <title>{% block title %}{% endblock %} | EHS</title>

        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css') }}" type="text/css" media="all" />
            <!-- Custom Google Web Font -->
            <link rel="stylesheet" href="{{ asset('public/font-awesome/css/font-awesome.min.css') }}" type="text/css" media="all" />
            <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <!-- Custom CSS-->
        <link rel="stylesheet" href="{{ asset('public/css/general.css') }}" type="text/css" media="all" />

            <!-- Owl-Carousel -->
        <link rel="stylesheet" href="{{ asset('public/css/custom.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('public/css/owl.carousel.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('public/css/owl.theme.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('public/css/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('public/css/animate.css') }}" type="text/css" media="all" />

            <!-- Magnific Popup core CSS file -->
        <link rel="stylesheet" href="{{ asset('public/css/magnific-popup.css') }}" type="text/css" media="all" />


    </head>
        {% endblock %}

<body id="home">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <!-- NavBar-->
    <nav class="navbar-default" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('articles_index') }}">EHS</a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}

                    <li class="menuItem"><a href="{{ path('admin_index') }}">Administration</a></li>
                    {% endif %}
                    <li class="menuItem"><a href="{{ path('users_show_profil', { 'id': app.user.id }) }}">Profil</a></li>
                        <li class="menuItem"><a href="{{ path('users_show_profil', { 'id': app.user.id }) }}">Profil</a></li>
                        <li class="menuItem"><a href="{{ path('articles_index') }}">Articles</a></li>
                        <li class="menuItem"><a href="{{ path('presentation_index') }}">L'association</a></li>
                        <li class="menuItem"><a href="#">Nos actions</a></li>
                        <li class="menuItem"><a href="#">Agir & soutenirs</a></li>
                        <li class="menuItem"><a href="#">Presse</a></li>
                        <li class="menuItem"><a href="{{ path('image_index') }}">Médias</a></li>
                        <li class="menuItem"><a href="{{ path('archive_index') }}">Archives</a></li>
                        <li class="menuItem"><a href="{{ path('contact_index') }}">Contact</a></li>
                        <li class="menuItem"><a href="{{ path('users_logout') }}">Déconnexion</a></li>
                    {% else %}

                        <li class="menuItem"><a href="{{ path('articles_index') }}">Accueil</a></li>
                        <li class="menuItem"><a href="{{ path('presentation_index') }}">L'association</a></li>
                        <li class="menuItem"><a href="#">Nos actions</a></li>
                        <li class="menuItem"><a href="#">Agir & soutenirs</a></li>
                        <li class="menuItem"><a href="#">Presse</a></li>
                        <li class="menuItem"><a href="{{ path('image_index') }}">Médias</a></li>
                        <li class="menuItem"><a href="{{ path('contact_new') }}">Contact</a></li>
                        <li class="menuItem"><a href="{{ path('users_new') }}">Inscription</a></li>
                        <li class="menuItem"><a href="{{ path('users_login') }}">Connexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                    {% block body %}
                    {% endblock %}
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h5>Location</h5>
                        <p>Nantes</p>
                        <h5>Notre Siège</h5>
                        <p>6 avenue de la Devinière <br>44000 Nantes</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h5>Share with Love</h5>
                        <ul class="footer-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/kamal_chaneman"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/kamalchaneman"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h5>About EHS</h5>
                        <p>Agissons ensemble.</p>
                    </div>
                </div>
            </div>
        </div><!-- footer top -->
        <div class="footer-bottom">
            <div class="container">
                <div class="col-md-12">

                        <p>IMIE - 2016 - dl15</p>

                </div>
            </div>
        </div>
    </footer>
    </body>
    </html>
        {% block javascripts %}
            <script src="{{ asset('public/js/modernizr-2.8.3.min.js') }}"></script>
            <script src="{{ asset('public/ckeditor/ckeditor.js') }}"></script>
            <!--[if IE 9]>
            <script src="{{ asset('public/js/PIE_IE9.js') }}"></script>
            <![endif]-->
            <!--[if lt IE 9]>
            <script src="{{ asset('public/js/PIE_IE678.js') }}"></script>
            <![endif]-->
            <!--[if lt IE 9]>
            <script src="{{ asset('public/js/html5shiv.js') }}"></script>
            <![endif]-->

            <!-- StikyMenu -->
            <script src="{{ asset ('public/js/stickUp.min.js') }}"></script>
            <script src="{{ asset('public/js/jquery-1.10.2.js') }}"></script>
            <script src="{{ asset('public/js/bootstrap.js') }}"></script>
            <script src="{{ asset('public/js/owl.carousel.js') }}"></script>
            <script src="{{ asset('public/js/script.js') }}"></script>
            <!-- StikyMenu -->
            <script type="text/javascript">
                jQuery(function($) {
                    $(document).ready( function() {
                        $('.navbar-default').stickUp();
                    });
                });
            </script>
            <!-- Smoothscroll -->
            <script src="{{ asset ('public/js/jquery.corner.js') }}"></script>
            <script src="{{ asset ('public/js/wow.min.js') }}"></script>
            <script>
                new WOW().init();
            </script>
            <script src="{{ asset ('public/js/classie.js') }}"></script>
            <script src="{{ asset ('public/js/uiMorphingButton_inflow.js') }}"></script>
            <!-- Magnific Popup core JS file -->
            <script src="{{ asset ('public/js/jquery.magnific-popup.js') }}"></script>
        {% endblock %}





