<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <title>{% block title %}{% endblock %} | EHS</title>

    {% block stylesheets %}
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css') }}" type="text/css" media="all" />

        <!-- CUSTOM CSS -->
        <link rel="stylesheet" href="{{ asset('public/css/style.css') }}" type="text/css" media="all" />

    {% endblock %}

</head>

<!-- NavBar-->
<nav id="topNavbar" class="default navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('articles_index') }}"><img src="{{ asset('public/img/wip_ehs6.png') }}" alt="logo association"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="menuItem"><a href="{{ path('articles_index') }}">Accueil</a></li>
                <li class="menuItem"><a href="{{ path('presentation_index') }}">L'association</a></li>
                <li class="menuItem"><a href="{{ path('image_index') }}">Galerie</a></li>
                <li class="menuItem"><a href="{{ path('contact_index') }}">Contact</a></li>
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="menuItem"><a href="{{ path('admin_index') }}">Administration</a></li>
                    {% endif %}
                    <li class="menuItem"><a href="{{ path('archive_index') }}">Archives</a></li>
                {% endif %}

                {% if app.user %}
                    <li class="menuItem"><a href="{{ path('users_show_profil', { 'id': app.user.id }) }}">Profil</a></li>   
                    <li class="menuItem"><a href="{{ path('users_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li class="menuItem"><a href="{{ path('users_login') }}">Connexion</a></li>
                    <li class="menuItem"><a href="{{ path('users_new') }}">Inscription</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>


<body>
    <div id="corps" class ="container-fluid">

        <!-- FLASHBAG -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            <p align="center">{{ flashMessage }}</p>
                        </div>
                    {% endfor %}
                    
                    {% for flashMessage in app.session.flashbag.get('danger') %}
                        <div class="alert alert-danger">
                            <p align="center">{{ flashMessage }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Content -->
            {% block body %}
            {% endblock %}


    </div><!-- end #corps -->

    <!-- footer -->
    <footer>
        IMIE - 2016 - dl15
    </footer>

    {% block javascripts %}
        <script src="{{ asset('public/ckeditor/ckeditor.js') }}"></script>
        
        <script src="{{ asset('public/js/jquery-1.10.2.js') }}"></script>
        <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>

    {% endblock %}



</body>


</html>
        





