<div class="col-xs-12 col-md-3" id="rightSidebar">

        <div id="calendar" class="list-group">
            <div class="list-group-item agenda">
                <h2 align="center">A ne pas manquer !</h2>
            {% for agenda in agendas %}
                    <a class="list-group-item list-group-item-action" href="{{ path('agenda_show', { 'id': agenda.id }) }}">
                        <h4 class="list-group-item-heading">{{ agenda.title }}</h4>
                        <p class="list-group-item-text">{{ agenda.startingDate|date('d-m-Y') }}</p>
                    </a>
            {% endfor %}
                <a class="list-group-item" href="{{ path('agenda_index') }}"><span class="glyphicon glyphicon-chevron-right"></span> Voir tous les évènements</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="list-group-item" href="{{ path('agenda_new') }}"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter un évènement</a>
            {% endif %}
            
                <h2 align="center">Tenez vous informé !</h2>
                <a href="{{ path('newsletter_index') }}" class="list-group-item">Newsletter</a>

                <a href="#" class="list-group-item">Facebook</a>
                <a href="#" class="list-group-item">Twitter</a>
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('articles_new') }}" class="list-group-item">Proposer un article</a>
                {% endif %}
            </div>
        </div>
</div>