<div class="col-xs-12 col-md-3" id="rightSidebar">

        <div id="calendar" class="list-group">
            <div class="list-group-item agenda">
                <h2 align="center">Evènements à venir</h2>
            {% for agenda in agendas %}
                    <a class="list-group-item" href="{{ path('agenda_show', { 'id': agenda.id }) }}">{{ agenda.title }}<br/>{{ agenda.startingDate|date('d-m-Y') }}</a>                
            {% endfor %}
                <a class="list-group-item" href="{{ path('agenda_index') }}">Voir tous les évènements</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="list-group-item" href="{{ path('agenda_new') }}">+ Ajouter un évènement</a>
            {% endif %}
            </div>
        </div>
        <div id="sidebarActions" class="list-group">
            <a href="{{ path('newsletter_index') }}" class="list-group-item">Newsletter</a>

            <a href="#" class="list-group-item">Facebook</a>
            <a href="#" class="list-group-item">Twitter</a>
            {% if is_granted('ROLE_MODERATEUR') %}
                <a href="{{ path('articles_new') }}" class="list-group-item">Proposer un article</a>
            {% endif %}
        </div>
</div>