{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}

{% block body %}
      
    
    <!-- MAIN ARTICLE -->
    <div class="col-xs-12 col-md-9">
        <div class="jumbotron">
            <h1>Administration</h1>
            <div class="col-lg-6">
                <form action="{{ path('admin_users_search') }}" method="post">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go!</button>
                        </span>
                        <input type="search" class="form-control" id="search" name="search" placeholder="Chercher un utilisateur">
                    </div><!-- /input-group -->
                </form>
            </div><!-- /.col-lg-6 -->
        </div>
                
        
        <div class="col-sm-6">
            <div class="jumbotron">
                <p align="center">
                    <a class="list-group-item" href="{{ path('admin_listeMembres') }}">Liste des utilisateurs</a>
                    <a class="list-group-item" href="{{ path('admin_users_new') }}">Ajouter un utilisateur</a>
                    <a class="list-group-item" href="{{ path('usersagenda_index') }}">Liste des adhésions aux évènements</a>
                    <a class="list-group-item" href="{{ path('agenda_new') }}">Ajouter un évènement</a>
                    <a class="list-group-item" href="{{ path('agenda_index') }}">Liste des évènements</a>
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="jumbotron">
                <p align="center">
                    <a class="list-group-item" href="{{ path('articles_new') }}">Publier un article</a>
                    <a class="list-group-item" href="{{ path('admin_listeArticles') }}">Liste des articles</a>
                    <a class="list-group-item" href="{{ path('archive_new') }}">Ajouter des archives</a>
                    <a class="list-group-item" href="{{ path('imagecollection_new') }}">Publier des photos dans la galerie</a>
                    <a class="list-group-item" href="{{ path('newsletter_index') }}">Newsletter</a>
                </p>
            </div>
        </div>
    </div>
    
    
        
    
{% include 'rightsidebar.html.twig' %}
{% endblock %}
