{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block title %}Liste des articles{% endblock %}

{% block body %}
<div class="col-xs-12">
    <h1 class='pageTitle'>Liste des articles</h1> 
            <a class="btn btn-default" href="{{ path('articles_new') }}">Creer un nouvel article</a>
            <a class="btn btn-default" href="{{ path('admin_index') }}">Retourner a la liste</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Status</th>
                <th>Date</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for article in articles %}
                    {% if article.status == 'published' %}
                        <td class='publishedArticle'><a href="{{ path('articles_show', { 'id': article.id }) }}">Publié</a></td>
                    {% elseif article.status == 'refused' %}
                        <td class='refusedArticle'><a href="{{ path('articles_show', { 'id': article.id }) }}">Refusé</a></td>
                    {% elseif article.status == 'submit' %}
                        <td class='submitArticle'><a href="{{ path('articles_show', { 'id': article.id }) }}">En Attente</a></td>
                    {% else %}
                        <td>Unknown</td>
                    {% endif %}
                    <td>{{ article.date|date("d/m/Y") }}</td>
                    <td><a href="{{ path('articles_show', { 'id': article.id }) }}">{{ article.titre }}</a></td>
                    <td>auteur</td>
                    <td>
                        <a href="{{ path('articles_show', { 'id': article.id }) }}">Détails</a>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}
