{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
<div class="col-xs-12">
    <h1>Liste des articles</h1> 
    <ul>
        <li>
            <a href="{{ path('articles_new') }}">Creer un nouvel article</a>
        </li>
        <li>
            <a href="{{ path('admin_index') }}">Retourner a la liste</a>
        </li>
    </ul> 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Chapeau</th>
                <th>Auteur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for article in articles %}
                    <td><a href="{{ path('articles_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                    {% if article.status == 'published' %}
                        <td class='publishedArticle'>Publié</td>
                    {% elseif article.status == 'refused' %}
                        <td class='refusedArticle'>Refusé</td>
                    {% elseif article.status == 'submit' %}
                        <td class='submitArticle'>En Attente</td>
                    {% else %}
                        <td>Unknown</td>
                    {% endif %}
                    <td>{{ article.date|date("d/m/Y") }}</td>
                    <td>{{ article.titre }}</td>
                    <td>{{ article.chapeau }}</td>
                    <td>auteur</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('articles_show', { 'id': article.id }) }}">Détails</a>
                            </li>
                        </ul>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}
