{% extends 'base.html.twig' %}

{% block title %}Liste des membres{% endblock %}

{% block body %}
    
    <div>
        <h1>Liste des membres</h1> 
            <ul>
                <li>
                    <a href="{{ path('users_new') }}">Creer un nouvel utilisateur</a>
                </li>
                <li>
                    <a href="{{ path('admin_index') }}">Retourner a la liste</a>
                </li>
            </ul> 
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Genre</th>
                            <th>Téléphone</th>
                            <th>Adresse</th>
                            <th>Ville</th>
                            <th>Région</th>
                            <th>Pays</th>
                            <th>Rôle</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.nom }}</td>
                                <td>{{ user.prenom }}</td>
                                <td>{{ user.genre }}</td>
                                <td>{{ user.telephone }}</td>
                                <td>{{ user.adresse }}</td>
                                <td>{{ user.ville }}</td>
                                <td>{{ user.region }}</td>
                                <td>{{ user.pays }}</td>
                                <td>{{ user.role }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('users_show', { 'id': user.id }) }}">Profil</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
    </div>
    
{% endblock %}
