{% extends 'base.html.twig' %}

{% block body %}
<div id='galeriePage' class="col-xs-12">
<h1 class='pageTitle'>Galerie</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-default" href="{{ path('imagecollection_new') }}">Ajouter des images à la galerie</a>
    {% endif %}
<div class="galerie">
{% for image in images %}
<a href="{{ path('image_show', { 'id': image.id }) }}"><img src="{{ app.request.basePath }}{{ vich_uploader_asset(image, 'imageFile') }}" alt="Photo de l'association"></a>
{% endfor %}
</div>
<a href="{{ path('image_page', { 'nbr': 1 }) }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span> Voir toutes les images</a>


</div>
    {% endblock %}
