{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-12">
            <a class="btn btn-default" href="{{ path('image_index') }}">Retour aux images</a>
    <h1 class='pageTitle'>Image</h1>

    <table>
        <tbody>
            <tr>
                <td><img src="{{ app.request.basePath }}{{ vich_uploader_asset(image, 'imageFile') }}" alt="Photo de l'association"></td>
            </tr>
            <tr>
                <td>{% if image.date %}{{ image.date|date('d-m-Y H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>


        {% if is_granted('ROLE_MODERATEUR') %}
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        {% endif %}
</div>
{% endblock %}
