{% extends 'base.html.twig' %}

{% block title %}Archives{% endblock %}

{% block body %}
<div id="archivePage" class="col-xs-12">
    <h1>Archives</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-default" href="{{ path('archive_new') }}">Ajouter une archive</a>
    {%endif%}

    <table>
        <thead>
            <tr>
                <th>Archive</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for archive in archives %}
            <tr>
                <td>{{ archive.titre }}</td>
                <td>{% if archive.date %}{{ archive.date|date('d-m-Y') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('archive_show', { 'id': archive.id }) }}">Voir</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('archive_edit', { 'id': archive.id }) }}">Editer</a>
                        </li>
                        {%endif%}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
