{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block title %}Archive{% endblock %}

{% block body %}
<div class="col-xs-12">
    <a class='btn btn-default' href="{{ path('archive_index') }}"><span class="glyphicon glyphicon-chevron-left"></span> Retour à la liste</a>
    <h1 class='pageTitle'>Archive</h1>

    <table>
        <tbody>
            <tr>
                <th>Date</th>
                <td>{% if archive.date %}{{ archive.date|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ archive.titre }}</td>
            </tr>
            <tr>
                <th>Archive</th>
                <td>{{ archive.text|raw }}</td>
            </tr>
            {% if archive.documentName != null %}
            <tr>
                <th>Document</th>
                <!--todo delete app.request.basePath before deploying-->
                <td><a href="{{ app.request.basePath }}{{ vich_uploader_asset(archive, 'documentFile') }}" download>DOWNLOAD</a></td>
            </tr>
            {% endif %}
        </tbody>
    </table>


    {% if is_granted('ROLE_ADMIN') %}
        <a class='btn btn-default' href="{{ path('archive_edit', { 'id': archive.id }) }}">Editer</a>
        {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    {%endif%}

</div>
{% endblock %}
