{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block title %}Edition évènement{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class='pageTitle'>Edition de l'évènement</h1>
        {{ form_start(edit_form) }}
            <table>
                <tr>
                    <td>{{ form_label(edit_form.startingDate, "Début de l'évènement") }}</td>
                    <td>{{ form_label(edit_form.endingDate, "Fin de l'évènement") }}</td>
                </tr>
                <tr>
                    <td>{{ form_widget(edit_form.startingDate, { 'attr': {'class': 'input-group date'}  }) }}</td>
                    <td>{{ form_widget(edit_form.endingDate, { 'attr': {'class': 'input-group date'}  }) }}</td>
                </tr>
            </table>

            <table>
                <tr><td>{{ form_label(edit_form.address, "Adresse") }}</td></tr>
                <tr><td>{{ form_widget(edit_form.address, { 'attr': {'class': 'form-control'}  }) }}</td></tr>

                <tr><td>{{ form_label(edit_form.city, "Ville") }}</td></tr>
                <tr><td>{{ form_widget(edit_form.city, { 'attr': {'class': 'form-control'}  }) }}</td></tr>

                <tr><td>{{ form_label(edit_form.title, "Nom de l'évènement") }}</td></tr>
                <tr><td>{{ form_widget(edit_form.title, { 'attr': {'class': 'form-control'}  }) }}</td></tr>

                <tr><td>{{ form_label(edit_form.description, "Détails sur l'évènement") }}</td></tr>
                <tr><td>{{ form_widget(edit_form.description, { 'attr': {'cols': '120'}  }) }}</td></tr>

                <tr><td>{{ form_label(edit_form.login, "Inscription possible") }}</td></tr>
                <tr><td>{{ form_widget(edit_form.login,{ 'attr': {'cols': '120'} }) }}</td></tr>

                <tr><td>{{ form_label(edit_form.loginNumber, "Nombre de place") }}</td></tr>
                <tr><td>{{ form_widget(edit_form.loginNumber,{ 'attr': {'cols': '120'} }) }}</td></tr>

                <tr><td><input type="hidden" name="_target_path" value="ehs_agenda" /></td></tr>

                <tr><td><input type="submit" class="btn btn-success" value="Editer" /></td></tr>
        {{ form_end(edit_form) }}
            </table>
    </div>

{% endblock %}
