{% extends 'base.html.twig' %}

{% block title %}Evènement{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 align="center" class='pageTitle'>{{ agenda.title }}</h1>

    <table align="center">
        <tbody>
            <tr>
                <th>Début</th>               
            </tr>
            <tr>
                <td>{% if agenda.startingDate %}{{ agenda.startingDate|date('d-m-Y H:i') }}{% endif %}</td> 
            </tr>
            <tr>
                <th>Fin</th>
            </tr>
            <tr>
                <td>{% if agenda.endingDate %}{{ agenda.endingDate|date('d-m-Y H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Adresse</th>
            </tr>
            <tr>
                <td>{{ agenda.address }}</td>
            </tr>
            <tr>
                <th>Ville</th>
            </tr>
            <tr>
                <td>{{ agenda.city }}</td>
            </tr>
            <tr>
                <th>Description</th>
            </tr>
            <tr>
                <td>{{ agenda.description|raw }}</td>
            </tr>
            <tr>
                <th>Inscription possible</th>
            </tr>
            <tr>
                <td>{% if agenda.login < 1 %}Non{% elseif agenda.login > 0 %}Oui{% endif %}</td>
            </tr>
            <tr>
                <th>Nombre de place</th>
            </tr>
            <tr>
                <td>{% if agenda.login < 1 %}N/A{% else %}{{ agenda.loginNumber }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
        <p align="center">
                <a href="{{ path('agenda_index') }}">Voir tous les évènements</a>
        </p>
        <p align="center">    
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-warning" href="{{ path('agenda_edit', { 'id': agenda.id }) }}">Editer</a>
        </p>
            {{ form_start(delete_form) }}
            <p align="center">
                <input class="btn btn-danger" type="submit" value="Supprimer l'évènement">
            </p>
            {{ form_end(delete_form) }}
        {% endif %}

        {% if agenda.login > 0 %}
            {% if agenda.startingDate|date('U') > 'now'|date('U') %}
                {% if participants|length < agenda.loginNumber %}
                    {% include 'usersagenda/new.html.twig' with {'agenda': agenda} %}
                {% else %}
                    <h2 align="center">Le nombre d'inscription maximum a été atteint !</h2>
                {% endif %}
            {% endif %}
        {% endif %}
</div>
{% endblock %}
