{% extends 'base.html.twig' %}
{% block title %}Adhésion {{ usersAgenda.nom }} {{ usersAgenda.prenom }}{% endblock %}
{% block body %}
<div class="col-xs-12">
    <h1>Adhésion de {{ usersAgenda.nom }} {{ usersAgenda.prenom }} - {{ usersAgenda.mail }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ usersAgenda.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ usersAgenda.prenom }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ usersAgenda.telephone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ usersAgenda.mail }}</td>
            </tr>
            <tr>
                <th>Paiement effectué</th>
                <td>{% if usersAgenda.payment < 1 %}Non{% elseif usersAgenda.payment > 0 %}Oui{% endif %}</td>
            </tr>
            <tr>
                <th>Evènement</th>
                <td>{{ usersAgenda.event.title }}</td>
            </tr>
            
        </tbody>
    </table>

            <a class="btn btn-warning" href="{{ path('usersagenda_edit', { 'id': usersAgenda.id }) }}">Editer</a>

            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}

            <a class="btn btn-primary" href="{{ path('usersagenda_index') }}">Liste des adhésions aux évènements</a><br/>
        </li>
    </ul>
</div>
{% endblock %}
