{% extends 'base.html.twig' %}

{% block title %}Edition Article{% endblock %}

{% block body %}
<div class="col-sm-12">
    <h1>Edition des articles</h1>

    {{ form_start(edit_form) }}
        {{ form_row(edit_form.titre) }}
        {{ form_row(edit_form.chapeau) }}
        {{ form_row(edit_form.contenu) }}
        {% if article.status == 'progress' %}
            {{ form_row(edit_form.save) }}
            {{ form_row(edit_form.send) }}
        {% elseif is_granted('ROLE_MODERATEUR') %}
            {% if (article.status == 'submit' or article.status == 'refused') %}
                {{ form_row(edit_form.publish) }}
            {% endif %}
            {% if article.status == 'submit' or article.status == 'published' %}
                {{ form_row(edit_form.refuse) }} <!--unpublish article-->
            {% endif %}
            <input type="submit" value="Modifier" />
        {% endif %}
        {{ form_widget(edit_form._token) }}
    {{ form_end(edit_form, {'render_rest': false}) }}

    <ul>
        <li>
            <a href="{{ path('articles_index') }}">Retourner a la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
