{% extends 'base.html.twig' %}


    {% block title %}Actualités{% endblock %}

    {% block body %}
        <div class="col-xs-12 col-md-9">

            <!--MAIN ARTICLE-->
            <div id="mainArticle">
                <div id="mainArticle-inside" class="col-xs-12">
                    {% if articles[0] is defined %}
                    <div class="mainArticleContent">
                        <h1>{{ articles[0].titre }}</h1>
                        <p>{{ articles[0].chapeau }}</p>
                    </div>
                    <p class="author">{{ articles[0].date|date("d/m/Y") }} {{ articles[0].author.nom }} {{ articles[0].author.prenom }}</p>
                    <a class="btn btn-default showButton" href="{{ path('articles_show', { 'id': articles[0].id }) }}" role="button">Voir</a>
                    {% if is_granted('ROLE_MODERATEUR') %}
                        <a class="btn btn-default editButton" href="{{ path('articles_edit', { 'id': articles[0].id }) }}" role="button">Modifier</a>
                    {% endif %}

                    {% endif %}
                </div>
            </div>
            
            <div id="articles" class="col-xs-12">
                {% for article in articles %}
                {% if article.id != articles[0].id %}
                    <div class="article col-xs-12 col-md-4 text-center">
                        <div class="article-inside">
                            <div class="articleContent">
                                <h2>{{ article.titre }}</h2>
                                <p class='chapeau'>{{ article.chapeau }}</p>
                            </div>
                            <div class='author'>
                                <p>{{ article.date|date("d/m/Y") }} {{ article.author.nom }} {{ article.author.prenom }}</p>
                            </div>

                            <a class="btn btn-default showButton" href="{{ path('articles_show', { 'id': article.id }) }}" role="button">Voir</a>
                            {% if is_granted('ROLE_MODERATEUR') %}
                                <a class="btn btn-default editButton" href="{{ path('articles_edit', { 'id': article.id }) }}" role="button">Modifier</a>
                            {% endif %}

                        </div> <!-- end .article-inside -->
                    </div>
                {% endif %}
                {% endfor %}
                <a href="{{ path('articles_page', { 'nbr': 1 }) }}" class="btn btn-default seeAll">Voir tous les articles</a>
            </div>
        </div>

    

        {% include 'rightsidebar.html.twig' %}
{% endblock %}


