{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
  
<div class="col-xs-12 col-sm-9">
    
    <!-- MAIN ARTICLE -->
    <div>
        <div id="mainArticle" class="jumbotron">
            <div id="articleContent">
                <h1>MAIN ARTICLE</h1>
                <p>chapeau de l'article principal blablabal balbalbalb ablalblabl balblablabl abllablabll ablalbablalb alblablablb a lalb lab lal lbalb</p>
            </div>
            <p>
                <a class="btn btn-default" href="#" role="button">Voir</a>
            </p>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <ul>
                <li>
                    <a href="{{ path('articles_new') }}">Creer un nouvel article</a>
                </li>
            </ul>
        {% endif %}
        
        
        
        <!-- ALL ARTICLES -->
        <div id="articles" class="rowArticle">
            {% for article in articles %}
                <div class="article col-xs-6 col-lg-4">
                    <div class='articleContent'>
                        <h2>{{ article.titre }}</h2>
                        <p class='chapeau'>{{ article.chapeau }}</p>
                    </div>
                    <p>
                        auteur: {{ article.author.nom }} {{ article.author.prenom }}
                    </p>
                    <p>
                        <a class="btn btn-default" href="{{ path('articles_show', { 'id': article.id }) }}" role="button">Voir</a>
                        <a class="btn btn-default" href="{{ path('articles_edit', { 'id': article.id }) }}" role="button">Modifier</a>
                        
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
    
    
</div>
    
{% include 'rightsidebar.html.twig' %}
{% endblock %}
