{% extends 'base.html.twig' %}

{% block title %}Création article{% endblock %}

{% block body %}
<div class="col-xs-12">
<div id="myArticles">
    <h1>Mes articles</h1>
        <a class="btn btn-default" href="{{ path('articles_index') }}">Retour aux articles</a>

    <div class="list-group">
    {% for article in myArticles %}
        {% if article.status == 'progress' %}
            <a class='progressArticle list-group-item' href="{{ path('articles_edit', { 'id': article.id }) }}">[En cours] {{ article.titre }}</a>
        {% elseif article.status == 'submit' %}
            <a class='submitArticle list-group-item' href="{{ path('articles_show', { 'id': article.id }) }}">[En attente de validation] {{ article.titre }}</a>
        {% elseif article.status == 'published' %}
            <a class='publishedArticle list-group-item' href="{{ path('articles_show', { 'id': article.id }) }}">[Publié] {{ article.titre }}</a>
        {% else %}
            <a class='refusedArticle list-group-item' href="{{ path('articles_show', { 'id': article.id }) }}">[Refusé] {{ article.titre }}</a>
        {% endif %}
    {% endfor %}
    </div>
</div>


<div class="articleForm">
    <h1>Créer un article</h1>
    {{ form_start(form) }}
        {{ form_row(form.titre, {'label':'Titre:'}) }}
        {{ form_row(form.chapeau, {'label':'Chapeau:'}) }}
        {{ form_row(form.contenu, {'label':'Article:'}) }}
        {{ form_row(form.save) }}
        {{ form_row(form.send) }}
        {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
</div>
{% endblock %}
