{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<div class="col-xs-12">
    <ul>
        <li><a class="btn btn-default" href="{{ path('articles_index') }}">Retour vers la liste</a></li>
        
        {% if is_granted('ROLE_MODERATEUR') %}
            <li><a class="btn btn-default" href="{{ path('articles_edit', { 'id': article.id }) }}">Edition</a></li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
                {% if article.status == 'submit' %}
                    {{ form_start(publish_form) }}
                        <input type="submit" value="Publier">
                    {{ form_end(publish_form) }}
                    {{ form_start(refused_form) }}
                        <input type="submit" value="Ne pas publier">
                    {{ form_end(refused_form) }}
                {% else %}
                    {{ form_start(refused_form) }}
                        <input type="submit" value="Ne plus publier">
                    {{ form_end(refused_form) }}
                {% endif %}
            </li>
        {% endif %}
    </ul>


    <h1>{{ article.titre }}</h1>
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <td>{{ article.chapeau }}</td>
                </tr>
                <tr>
                    <td>{{ article.contenu | raw }}</td>
                </tr>
                <tr>
                    <td>{{ article.date|date("d/m/Y") }}</td>
                </tr>
                <tr>
                    <td>by {{ article.author.nom }} {{ article.author.prenom }}</td>
                </tr>
            </tbody>
        </table>

        <a href="#" id="toggler">Laisser un commentaire</a>.
        <div id="toggle">
        {{ form_start(comment_form) }}
            {{ form_widget(comment_form) }}
            <input type="submit" value="Envoyer" />
        {{ form_end(comment_form) }}
        </div>
        <table class="table">
        {% for comment in article.comments %}
                <tr>
                    <td>{{ comment.author.nom }} {{ comment.author.prenom }}</td>

                    <td>{{ comment.content | raw }}</td>
                    <th>{{ comment.creationDate|date("d/m/Y") }}</th>


                    {% if is_granted('ROLE_MODERATEUR') %}
                        <td><a href="{{ path('comment_delete', { 'id': comment.id }) }}">X</a></td>
                    {% endif %}

                </tr>
        {% endfor %}
        </table>
        

    </div>
</div>
{% endblock %}
