{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<div class="col-sm-12">
    <ul>
        <li>
            <a href="{{ path('articles_index') }}">Retour vers la liste</a>
        </li>
        <li>
            <a href="{{ path('articles_edit', { 'id': article.id }) }}">Edition</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>


    <h1>{{ article.titre }}</h1>
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <td>{{ article.chapeau }}</td>
                </tr>
                <tr>
                    <td>{{ article.contenu }}</td>
                </tr>
                <tr>
                    <td>by {{ article.author.nom }} {{ article.author.prenom }}</td>
                </tr>
            </tbody>
        </table>
                
        <h1>Commentaires</h1>
        <table class="table">
        {% for comment in article.comments %}
                <tr>
                    <td>{{ comment.author.nom }} {{ comment.author.prenom }}</td>
                    <td>{{ comment.content }}</td>
                    <th>{{ comment.creationDate|date("m/d/Y") }}</th>
                </tr>
        {% endfor %}
        </table>
        
        {{ form_start(comment_form) }}
            {{ form_widget(comment_form) }}
            <input type="submit" value="Creation" />
        {{ form_end(comment_form) }}

    </div>
</div>
{% endblock %}
