{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<div class="col-xs-12">
    <a class="btn btn-default" href="{{ path('articles_index') }}">Retour vers les articles</a>
        

    <div class='fullArticle'>
        {% if is_granted('ROLE_MODERATEUR') %}

            <div class='adminActions'>
                <a class="btn btn-default" href="{{ path('articles_edit', { 'id': article.id }) }}">Editer</a>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
                {% if article.status == 'submit' %}
                    {{ form_start(refused_form) }}
                        <input type="submit" value="Ne pas publier">
                    {{ form_end(refused_form) }}
                    {{ form_start(publish_form) }}
                        <input type="submit" value="Publier">
                    {{ form_end(publish_form) }}
                {% elseif article.status == 'progress' %}
                    {{ form_start(publish_form) }}
                        <input type="submit" value="Publier">
                    {{ form_end(publish_form) }}
                {% else %}
                    {{ form_start(refused_form) }}
                        <input type="submit" value="Ne plus publier">
                    {{ form_end(refused_form) }}
                {% endif %}

        </div>
        {% endif %}

    <h1 class='pageTitle'>{{ article.titre }}</h1>
    <p class='chapeau'>{{ article.chapeau }}</p>
    <p class='content'>{{ article.contenu | raw }}</p>
    <div class="author">{{ article.date|date("d/m/Y") }} {{ article.author.nom }} {{ article.author.prenom }}</div>
    </div>
    <a class="btn btn-default" href="{{ path('articles_index') }}">Retour vers les articles</a>


    {% if article.status == 'published' %}
    <div class="comments">
        <h1 class='pageTitle'>Commentaires</h1>
        <div class="commentForm">
        {{ form_start(comment_form) }}
            {{ form_row(comment_form.content, {'label': 'Ecrire un commentaire:'}) }}
            <input type="submit" value="Envoyer" />
        {{ form_end(comment_form) }}
        </div>


        {% for comment in article.comments %}
        <div class="comment">

            <p class='content'>{{ comment.content | raw }}</p>
            <div class="author">
                {{ comment.creationDate|date("d/m/Y") }} {{ comment.author.nom }} {{ comment.author.prenom }}
            </div>

            {% if is_granted('ROLE_MODERATEUR') %}
                <div class="modoActions" >
                    <a class='btn btn-default' href="{{ path('comment_delete', { 'id': comment.id }) }}">Supprimer</a>
                </div>
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}
    </div>
        
</div>
{% endblock %}
